{%extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    
<h2>Welcome to post creator:</h2>
    <h2 style="color: rgb(51, 0, 255);">{{message}}</h2>
    <form action="{% url 'encyclopedia:create'  %}" method="POST">
        {% csrf_token %}
        <h2>{{form.title.label}}</h2>
        {{form.title}}
        <br><br>
        <h2>{{form.content.label}}</h2>
        {{form.content}}
        <br><br>
        <input type="submit" value="Save">
    </form>

{% endblock %}